/***************************/
/*Background Color
/***************************/
.bg-lightblack {
  background-color: #212529;
}
.bg-red {
  background-color: #ff0000;
}

.bg-white {
  background-color: #ffffff;
}

.bg-cyan {
  background-color: #00ffff;
}

.bg-silver {
  background-color: #c0c0c0;
}

.bg-blue {
  background-color: #0000ff;
}

.bg-gray {
  background-color: #808080;
}

.bg-darkblue {
  background-color: #00008b;
}

.bg-black {
  background-color: #000000;
}

.bg-lightblue {
  background-color: #add8e6;
}

.bg-orange {
  background-color: #ffa500;
}

.bg-purple {
  background-color: #800080;
}

.bg-brown {
  background-color: #a52a2a;
}

.bg-yellow {
  background-color: #ffff00;
}

.bg-maroon {
  background-color: #800000;
}

.bg-lime {
  background-color: #00ff00;
}

.bg-green {
  background-color: #008000;
}

.bg-magenta {
  background-color: #ff00ff;
}

.bg-olive {
  background-color: #808000;
}

.bg-pink {
  background-color: #ffc0cb;
}

.bg-aquamarine {
  background-color: #7fffd4;
}
.bg-FE4A51 {
  background-color: #fe4a51;
}

.bg-A56CBD {
  background-color: #a56cbd;
}
.bg-2ECC71 {
  background-color: #2ecc71;
}
.bg-0088FF {
  background-color: #0088ff;
}
.bg-997C00 {
  background-color: #997c00;
}
.bg-49CFE8 {
  background-color: #49cfe8;
}
.bg-4C60F5 {
  background-color: #4c60f5;
}
.bg-lightgray {
  background-color: #ddd;
}
